---
import { countries } from '../_globals.js';
const { time, topic, speakers, isReverse, isFirst=false } = Astro.props;
---
<div class={ `${ isReverse === 0 ? 'bg-gradient-to-r' : 'bg-gradient-to-l' } from-sky to-blue px-4` }>
	<div class={ `${ !isFirst ? 'border-t border-white' : ''} py-2` }>
		<div class="md:flex align-middle">
			<div class="md:w-36 p-2">{time}</div>
			<div class="md:flex-1 p-2">{topic}</div>
			<div class="md:w-64 p-2">{
				speakers.length === 0 ? '' : speakers.map( (i) => <div class="flex items-center">
					<p class="flex-1">
						{i.name}<br />
						<small>{i.position}</small>
					</p>
					<img src={countries[i.country].flag} alt={ `Flag of ${countries[i.country].name}` } class="w-6 h-6" />
				</div> )
			}</div>
		</div>
	</div>
</div>